/* 
Project Name: Bored of Directors
Author: Jonathan Lai  https://twitter.com/jonathanlai
Developed for the people in Brisbane, Australia, July 2020
*/


/*------------
    LAYOUT
------------*/

.container {
}

.header-section {
  padding: 2%;
  padding-top: 10%;
}

.purpose-section {
  padding: 2%;
}

.findings-section {
  padding: 2%;
  text-align: center;
}

.directors-section {
  padding: 2%;
}

.footer-section {
  padding: 2%;
  padding-bottom: 5%;
}

.bottom-buffer {
  margin-bottom: 20px;
}

.inner {
  padding: 3%;
  position: relative;
  height: 150px;
  width: 150px;
}

.hover-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #000000;
  visibility: hidden;
  opacity: 0;
  transition: 1s ease;
  text-align: center;
  padding: 3%;
}

.inner:hover .hover-overlay {
  visibility: visible;
  opacity: 1;
}