/* 
Project Name: Bored of Directors
Author: Jonathan Lai  https://twitter.com/jonathanlai
Developed for the people in Brisbane, Australia, July 2020
*/


/*------------
    LAYOUT
------------*/

.container {
}

.header-section {
  padding: 2%;
  padding-top: 10%;
}

.analysis-section {
  padding: 2%;
  text-align: center;
}

.directors-section {
  padding: 2%;
}

.footer-section {
  padding: 2%;
  padding-bottom: 10%;
}

.bottom-buffer {
  margin-bottom: 20px;
}

.inner {
  padding: 3%;
  position: relative;
  height: 150px;
  width: 150px;
}

.hover-overlay-odd {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 14px;
  color: #F9F3EC;
  text-align: center;
  background-color: #0E2A55;
  visibility: hidden;
  opacity: 0;
  transition: 1s ease;
  margin: 3%;
  padding-top: 7%;
}

.hover-overlay-even {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 14px;
  color: #F9F3EC;
  text-align: center;
  background-color: #B31E1A;
  visibility: hidden;
  opacity: 0;
  transition: 1s ease;
  margin: 3%;
  padding-top: 7%;
}

.inner:hover .hover-overlay-odd {
  visibility: visible;  
  opacity: 1;
}

.inner:hover .hover-overlay-even {
  visibility: visible;  
  opacity: 1;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #F9F3EC;
  color: #333333;
}

footer {
  background-color: #F9F3EC;
}

h1 {
  font-family: 'Crimson Text', serif;
  color: #0E2A55;
  font-size: 50px;
  line-height: 40px;
}

h2 {
  font-family: 'Crimson Text', serif;
  color: #0E2A55;
}

h3, h4 {
  font-family: 'Crimson Text', serif;
  color: #0E2A55;
}

h5 {
  font-family: 'Crimson Text', serif;
  color: #F9F3EC;
}

a {
  color: #B31E1A;
  text-decoration: none;
}

a:hover {
  color: #B31E1A;
}
